<ul>
    <li><a href="#about" data-toggle="tab">Fellow Nomination</a></li>
</ul>
<div class="tab-content">
    <div class="tab-pane" id="about">
      <div class="row">
          <div class="col-sm-10 col-sm-offset-1">
				<div class="form-group">
					<label for="exampleInputEmail1">My email is:</label>
					<input type="text" class="form-control" id="exampleNomineeName" placeholder="Your email is for validation purpose only">
				</div>

				<%= render 'form' %>

				<%= link_to 'Back', nominees_path %>
				</div>
		    </div>
		</div>